.el-menu
    border-right none
    overflow hidden
    .el-menu-item:hover
        background-color #409eff
        color #ffffff

.second-item
    width 162px !important
    height 100%
    z-index 1025
    border-right 1px solid #dededf
    background-color #ffffff

.el-submenu >>> .el-submenu__title
    height 50px
    line-height 50px
    &:hover
        background-color #409eff
        color #FFFFFF

.el-menu >>> .el-menu--inline
    .el-menu-item
        height 38px
        line-height 38px
        padding-left 35px !important
        font-size 14px
        //color #202020
        box-sizing: border-box
        &:hover
            background-color #409eff
            color #FFFFFF

.fade-enter
    width 0 !important

.fade-enter-to
    width 142px !important

.fade-enter-active
    transition width .2s

.fade-leave
    width 142px !important
