$color-dark = #363e4f
$color-blue = #2d8cf0
$color-green = #1eae81
$color-yellow = #ff9900
$color-red = #ff3300
$color-orange = #f4aa3b

$color-body = #47525c
$color-decoration = #dedede

$font-body = 14px
$font-head = 16px
$font-mark = 12px

$font-title()
    font-size $font-head
    font-weight 500

/* ----- Layout ----- */
$main-background = #f1f1f1
$header-height = 60px

/* ----- Box ----- */
$box-radius = 5px
